@model GradeTrackerApp.Models.Course.CourseViewModel

@{
    ViewBag.Title = "WhatIfEntryView";
}

<style>

    #evaluationTable {
        width: 35%;
    }

        #evaluationTable th {
            font-size: larger;
            padding-bottom: 5px;
            width: 30%;
            text-align: center
        }

        #evaluationTable td {
            padding-bottom: 5px;
            padding-left: 10px
        }

    #details td {
        padding-bottom: 5px;
        padding-left: 10px
    }

    .detail {
        padding-left: 10px
    }

    #evaluationTable td.grade {
        text-align: center
    }

    #details th {
        font-size: larger;
    }

    .option {
        padding-right: 5px
    }
</style>

<h2>WhatIfEntryView</h2>

@using (Html.BeginForm("GetWhatIfGrade", "Course", FormMethod.Post))
{

    foreach (var eval in Model.Evaluations)
    {
        @Html.Partial("~/Views/Evaluation/_WhatIfEvalUpdatePartial.cshtml", eval)
    }

    <div style="padding-top: 15px">
        <input type="submit" value="Add Course" class="btn btn-default" />
        @Html.ActionLink("Cancel", "AllCourses", "Course", routeValues: null, htmlAttributes: new { Class = "btn btn-default" })
    </div>
}

