
@{
    ViewBag.Title = "Data Policy Rejected";
}

<div id="content">

    <h2>We're Sorry You're Uncomfortable With This Policy</h2>

    <p>
        However, we have no real way of providing this service without your consent.
    </p>
    <p>
        If you're truly unable to consent to the terms outlined @Html.ActionLink("here", "DataUse", "Home") we shall miss you.
    </p>
    <p>
        Otherwise, please feel free to sign in again and this time accept the terms.
    </p>

</div>


