@using GradeTrackerApp.Models.Score
@model GradeTrackerApp.Models.GradeTrackerErrorViewModel

@{
    ViewBag.Title = "GradeTrackerError";
}

<h1>@Model.Name</h1>

<div>
    
    <h2>Details: @Model.Exception.Message</h2>
</div>

<div>

    @if (Model.Retry.Equals(true))
    {

        <h3>Adjust Your Info Below to Retry!</h3>
        <hr/>

        var modelType = Model.ViewModel.GetType();

        if (ReferenceEquals(modelType, typeof(CreateScoreViewModel)))
        {
            var model = (CreateScoreViewModel)Model.ViewModel;
            
            @Html.Partial(@"~\Views\Score\_addScorePartial.cshtml", model)
        }
    }
    else
    {
        var modelType = Model.ViewModel.GetType();

        if (ReferenceEquals(modelType, typeof(CreateScoreViewModel)))
        {
            var model = (CreateScoreViewModel)Model.ViewModel;
            @Html.ActionLink("Start Over", "AddScore", "Score", routeValues: new { evaluationId = model.EvaluationId }, htmlAttributes: null)
        }
    }

</div>

