@model GradeTrackerApp.Models.Evaluation.EvaluationViewModel

<div class="modal-body">
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <h2>YouR Evaluation Was Added!</h2>
    </div>
    @using (Html.BeginForm("Add", "Evaluation", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id, Model.Id)

        <p>@Model.Name was successfully added!</p>
        <p>Add another?</p>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" id="approve-btn" class="btn btn-default">Yes</button>
            </div>
            @Html.ActionLink("No", "ViewCourse", "Course", routeValues: new {courseId = Model.CourseId}, htmlAttributes: new { Class = "btn btn-default" })
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>