@model GradeTrackerApp.Models.Evaluation.EvaluationViewModel

<h2>Your Evaluation Has Been Deleted</h2>

<div>

    <p>Would You Like to Add One to Replace It?</p>

    <p>
        @Html.ActionLink("Yes!", "AddEvaluation", "Evaluation", routeValues: new { courseId = Model.CourseId }, htmlAttributes: new { Class = "btn btn-default" })

        @Html.ActionLink("Not Now", "ViewCourse", "Course", routeValues: new { courseId = Model.CourseId }, htmlAttributes: new { Class = "btn btn-default" })
    </p>

</div>