@{
    ViewBag.Title = "Data and Privacy";
}

<div id="header">

    <h1>Data and Privacy Details</h1>
    <h2>What We Do With Your Data</h2>
    <p>Yes, it is true--we collect your data. You probably noticed this when we asked for your name, e-mail address, the name of your courses, and the grades you've earned. Here's a run down on what we do with it.</p>

</div>

<div id="personalData">

    <h3>Personal Data</h3>
    <p>Your personal data is everything above--your e-mail address, name, your course info, and of course the grades.</p>

    <ul>

        <li>We use your e-mail to uniquely identify you in the system</li>
        <li>We use your name to personalize your experience on the website</li>
        <li>We use your course info and grades to keep track of your standing and provide "What-If" calculations</li>

    </ul>

    <p>That's it. We don't share or sell info about you or your grades. The goal starts and ends with providing you a service.</p>

</div>

<div id="cookies">

    <h3>Cookies</h3>

    <p>
        Cookies are little text files that are used for a wide range of reasons, from tracking your browsing habits to keeping you logged in to a website to displaying your name at the top of a page.
        We do make use of cookies on this website, primarily for
    </p>

    <ul>

        <li>Verifying your logged-in status</li>
        <li>Ensuring the security of your account</li>

    </ul>

    <p>
        Additionally, our advertising partners may be using cookies already to provide personalized ads across mutliple websites:
    </p>
    <ul>

        <li><a href="https://support.google.com/adsense/answer/7549925?hl=en">Google Adsense</a></li>

    </ul>

</div>