@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Grade Tracker - Know Where You Stand</h1>
    <p class="lead">Grade Tracker is the Tool that Will Let You Demystify Your Teacher's Grade Calculations so You Know Where You Stand!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How Hard Do You Need to Study?</h2>
        <p>
            Should you focus on the Calc midterm or the History paper? Can you get away with a C on this lab report or do you need to break out the plastic
            binder cover? Grade Tracker can help you figure that out for sure.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teacher Who Doesn't Post Grades?</h2>
        <p>Blackboard and other online systems that track your grade are usually perfect...unless your teacher is disorganized and doesn't post.</p>
    </div>
    <div class="col-md-4">
        <h2>Keep a Record of Your Grades</h2>
        <p>Look back on your grades without needing to open a transcript request!</p>
    </div>
</div>